@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 768px) {
  #app {
    min-width: 1130px; /* Adjust as needed */
    padding: 0; /* Adjust as needed */
  }

  .full-width {
    margin: 0 calc(-1*(100vw - 768px)/2);
    padding: 0 calc((100vw - 768px)/2);
    background-color: red;
  }
}
.school-search{
  margin-left:175px
}
.fill-screen-height{
  height: calc(100vh - 200px) !important
}
.full-width {
  margin: 0 calc(-1*(100vw - 1280px)/2);
  padding: 0 calc((100vw - 1280px)/2);
}
.breadcrumbs {
  margin: 0 -40em;
  padding-left: 40em !important;
}

/* styles button to look like links */
button.link-btn, .link-btn .v-btn__content {
  opacity: 1;
  color: #0000EE;
  text-decoration: underline;
}

.territorial-acknowledgement {
  background-color: #494949;
  color: #fff;
  border-bottom: 3px solid #FCBA19;
  border-top: 3px solid #FCBA19;
}

.v-toolbar__extension {
  max-width: 1280px;
  padding: 0 2rem;
}
.v-btn-align-left {
  justify-content: normal !important;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0;
  }

  .full-width {
    margin: 0 calc(-1*(100vw - 1024px)/2);
    padding: 0 calc((100vw - 1024px)/2);
    background-color: red;
  }
}
