@import './base.css';

#app {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: normal;
}

#main {
  max-width: 1280px;
  padding: 0rem;
}

a {
  color: #2a6496;
}

div.v-application__wrap {
  min-height: 100vh; /* override dvh property */
}

.full-width {
  margin-left: calc(-1*(100vw - 1024px)/2);
  margin-right: calc(-1*(100vw - 1024px)/2);
}

/** Need to look at how CSS is loaded in since Vuetify defaults are overriding our custom CSS.
Fixing this now could risk delaying other releases, so we will have to wait on this one - SF **/
.v-alert, .v-alert--variant-outlined {
  border-radius: 8px !important;
}

.v-breadcrumbs-item--disabled {
  opacity: 1;
  font-weight: bold;
}

.school-search{
  margin-left:175px
}
.fill-screen-height{
  height: calc(100vh - 200px) !important
}
.breadcrumbs {
  margin: 0 -40em;
  padding-left: 40em;
}

/* styles button to look like links */
button.link-btn, .link-btn .v-btn__content {
  opacity: 1;
  color: #003366;
  text-decoration: underline;
}

.territorial-acknowledgement {
  background-color: #292929;
  color: #faf9f8;
  font-size: 14px;
  line-height: 21px;
  border-bottom: 4px solid #FCBA19;
  border-top: 4px solid #FCBA19;
}

.v-toolbar__extension {
  max-width: 1280px;
  padding: 0 2rem;
}

.v-btn-align-left {
  justify-content: normal !important;
}

@media (max-width: 768px) {
  #app {
    /* min-width: 600px; */
    padding: 0; /* Adjust as needed */
  }

  .full-width {
    margin-left: unset;
    margin-right: unset;
  }

  .breadcrumbs {
    margin: 0;
    padding-left: 12px;
  }

  h1 span.institute-name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* 
  * wraps button text as long as the class 'wrap' is added to v-btn component
  * This is a workaround since a text wrap option is not available for buttons in Vuetify
  */
  .wrap .v-btn__content {
    white-space: pre-wrap;
}

}

@media (hover: hover) {
  a:hover {
    background-color: #0000;
    color: #0000EE;
  }

  a.v-btn:hover {
    color: inherit; /*overrides blue hover for links on href buttons */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0!important;
    margin: 0 auto;
  }

  /* .full-width {
    position: relative;
    width: 100vw;
    left: calc(-1*(100vw - 1280px)/2);
    padding: 0!important;
  } */
}